:root{
    --preview-content-height: 250px
}
.preview-content-container{
    height: calc(var(--preview-content-height) - 20px);
    width: calc(100vw);
    margin: 0px;
    padding: 10px;
    background-color: var(--ion-background-color);
    cursor: pointer;
}

.preview-content-hover{
    background-color: var(--ion-color-dark);
    color: var(--ion-color-light);
    padding: 4px;
    border-radius: 4px;
    position: absolute;
    top: 20px;
    right:20px;
}
div[slot='fixed'] ~ div{
    position: relative;
    top: var(--preview-content-height)
}

