.header-title{
    text-align: center;
}

.slides-container{
    margin:auto;
    background-color: rgb(8, 8, 8);
    height: 100%;
}
.slides{
    /* width: min(300px, 80%); */
    height: 100%;
}

.slides .slide-image{
    height: 100%;
}

.grid-container{
    display: grid;
    gap: 1rem;
    padding: .5rem;
    grid-template-columns: 1fr 1fr 1fr;
}

.grid-container .grid-item{
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.color-grid-content, .pattern-grid-content{
    display: flex;
    width: 100%;
    height: 100%;
    border-radius: .5rem;
    list-style: none;
}
.color-grid-content li, .pattern-grid-content li{
    height: 100%;
   flex-grow: 1;
   list-style: none;
}