ul, ul li{
    margin: 0px;
    padding: 0px;
}
.header-title{
    text-align: center;
}

.slides-container{
    margin:auto;
    background-color: rgb(8, 8, 8);
    height: 100%;
}
.slides{
    /* width: min(300px, 80%); */
    height: 100%;
}

.download-btn{
    margin-top: 1em;
}